
<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>

  <body>

  <div class = "container login-container" id = "register">
  <h1>Register</h1>
    <form action="/auth/register" method="POST">
      <div class = "input-field">
        <input type="text" name="name" require="true">
        <label class = "active" for="name">Name</label>
      </div>

      <div class = "input-field">
        <input type="text" name="username" required="true">
        <label class = "active" for="username">Username</label>
      </div>

      <div class = "input-field">
        <input type="password" name="password" required="true">
        <label class = "active" for = "password">Password</label>
      </div>

      <div class = "input-field">
        <input type = "text" name = "email" required="true">
        <label class = "email" for = "email">Email</label>
      </div>


      <div>
        <button type="submit">Register</button>
        <button><a href="/houses">Home</a></button>
      </div>

   </form>
  </div>

    <!--JavaScript at end of body for optimized loading-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
