<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<!-- <div class="continer">
		<div class="center">
			<form class="" action="#" method="POST">
				<input type="text" name="" value="">
				<input type="text" name="" value="">
				<button type="button" name="button">Login</button>
			</form>
		</div>
	</div> -->
	<h1>hello</h1>
</body>

</html>
