

#map{
    height: 400px;
    width :document.width;
  }
#imgMap{

    height: 50px;
    width: auto;
}

#indexlogin {
    text-align: center;
    margin-right: 152px;
    left: 500px;
    display: inline-flex;
}

#registerroute {
    text-align: center;
    text-align: left;

}

.grid-container {
    display: grid;
    grid-column-gap: 500px;
    grid-template-columns: auto auto;
    padding: 0px;
    position: absolute;
    margin-top: 50px;
}


.grid-item {
    background-color: yellow;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0px;
    font-size: 20px;
    text-align: center;
    position: relative;
}

#grid1 {
    text-align: center;
}

#header {
    color: red;
    height: 200px;
    width: 1000px;
}

.header{
    background-color:teal;
}
.carousel{
    text-align: center;
}
#responsive-img{
    max-width: 50%;
    height:auto;
}
.card{
    width: 500px;
    height: 400px;
}

.container.register.container{
    top:auto;
    left:auto;
}

.mainlogin{
    width: 100px;
    height:100px;
}

.right.hide-on-med-and-down{
    position: relative;
}
