
#map{
    height: 400px;
    width : document.width;
  }
#imgMap{
    height: 50px;
    width: auto;
  }
#indexlogin {
    text-align: center;
    margin-right: 152px;
    left: 500px;
    display: inline-flex;
}
#registerroute {
    text-align: center;
    text-align: left;

}

.grid-container {
    display: grid;
    grid-column-gap: 500px;
    grid-template-columns: auto auto;
    padding: 0px;
    position: absolute;
    margin-top: 50px;
}
.grid-item {
    border:none;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    position: relative;
  }
#grid1{
    text-align: center;
}
#header{

    background-color:teal;
}
.carousel{
    text-align: center;
}
#responsive-img{
    max-width: 50%;
    height:auto;
}
.card{
    width: 500px;
    height: 500px;
}

    color:red;
    height: 200px;
    width: 1000px;
}

h1 {
  color: black;
}

footer {
  border: 1px solid black;
}

