<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="#"><h1>Home</h1></a>
    </header>
    <main>
      <h1>user index route In</h1>
              <!---
          <section>
              Are you a Realtor?
            <form action = "" method="">
                <input type = "text" name = "username" value = "username" placeholder = "Username" />
                <input type = "text" name = "password" value = "password" placeholder = "Password" />
                <button type = "submit" value "login"> Login </button> 
                //this  button will redirect to Realtor's show page, on the page have buttons for new, edit, delete
            </form>
          </section>

          <section>
            Want to Become a Realtor? 
            <form action = "" method = "" >
              <button type = "submit" value "join"> Register </button>
               //this will redirect to /contact us form
            </form>
          </section>

          <section>
              Browsing for a new home!?
              <button type = "submit"> Click Here </button>
              //this button redirect to home index page!
          </section>
              -->

    </main>
  </body>
</html>
