<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="#"><h1>Home</h1></a>
    </header>
    <main>
      <h1>realtor Edit route In</h1>

      <form action="/realtor/<%=realtor._id%>?_method=PUT" method="POST">
      <input type="text" name="name" value="<%=realtor.name%>"/>

    <button type="submit">EDIT</button>
 </form>
    </main>
  </body>
</html>
