<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1> Realtors Page</h1>

    <% for (let i=0; i<realtors.length; i++) {%>
    <p>
     <a href="/realtors/<%=realtors[i]._id%>">Show realtor</a> </br>

<%=realtors[i].name%></br>


</p>
    <%}%>
    </body>
</html>