<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="/houses"><h1>Home</h1></a>
       <a href="/houses/new"><h1>Add New Listing</h1></a>
        <a href="/realtor/:id/edit"><h1>Edit your page</h1></a>

        
    </header>
    <main>
      <h1> Realtor Profile page</h1>
      <% for (let i=0; i<realtor.length; i++){%>
        <a href="/realtor/<%=realtor[i]._id%>">
         <%=realtor[i].name%>
        <%=realtor[i].email%>
        <img src = "<%=realtor[i].houses.img%>">
        </a>
      <%}%>


      <section>
      
      </section>
    </main>
  </body>
</html>
