<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="/houses"><h1>Home</h1></a>
    </header>
    <main>
      <h1></h1>
      <ul>
        <% for (let i = 0; i < realtor.length; i++){%>
            <li>
              <a href="/realtor/<%=realtor[i]._id%>"><%= realtor[i].name%></a>
            </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
