<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="/houses"><h1>Home</h1></a>
    </header>
    <main>
      <h1>List of Realtors index page</h1>
      <% for (let i=0; i<realtor.length; i++){%>
        <a href="/realtor/<%=realtor[i]._id%>"><h2><%=realtor[i].name%></h2></a>
      <%}%>
    </main>
  </body>
</html>
