<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
     <section>
            <nav>
               <div class="nav-wrapper teal">
                  <a href="#" class="brand-logo center">Logo</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/houses">Home</a></li>
               </ul>
             
          </nav>
      </section>
    </header>
    <main>
      <h1> Realtor Profile page</h1>
      <h2>Realtors</h2>
      <ul>
        <% for (let i=0; i<realtor.length; i++){%>
          <a href="/realtor/<%=realtor[i]._id%>">
            <li><%=realtor[i].name%><br>
               Email: <%=realtor[i].email%>
              <img src = "<%=realtor[i].houses.img%>">
            </li>
          </a>
        <%}%>
      </ul>

    </main>
  </body>
</html>
