<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="#"><h1>Home</h1></a>
    </header>
    <main>
      <h1>realtor new route In</h1>
      <form action='/realtor' method="post">
    <input type="text" name="username" placeholder="Username"/>
     <input type = "text" name = "email" placeholder = "Email"/>
     <input type = "text" name = "phone" placeholder ="Phone Number"/>
     <button type="submit">Edit contact info</button>
      <a href="/houses/new"><h1>Add New Listing</h1></a>
       <a href="/houses/:id/edit"><h1>Edit your listing</h1></a>

    </main>
  </body>
</html>
