<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="#"><h1>Home</h1></a>
    </header>
    <main>
      <h1>House Edit route In</h1>

      <form action="/houses/<%=house._id%>?_method=PUT" method="POST">
            <input type="text" name="list" value = "<%=house.list%> " placeholder="House Listing"/><br/>
            <input type = "text" name = "img" value = "<%=house.img%> " placeholder ="photo url here"/><br/>
            <textarea name = "body" value = "<%=house.body%>" placeholder = "House Listing Info Here"></textarea><br/>
                        <button type="submit">EDIT</button>
    </form>
    </main>
  </body>
</html>
