<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="#"><h1>Home</h1></a>
      <h1> Houses Index</h1>
    </header>
    <main>
        <h2> List of Houses</h2>
        <ul>
          <%for(let i = 0; i < houses.length; i++) {%>
          <a href="/houses/<%=houses[i]._id%>"> <li> <%=houses[i].list%></li> </a>
          <%}%>
        </ul>
      
      
    </main>
  </body>
</html>
