<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="#"><h1>Home</h1></a>
    </header>
    <main>
      <h1>House new route In</h1>
      <form action='/houses' method="post">
    <input type="text" name="list" placeholder="House Listing"/>
     <button type="submit">ADD</button>
    </form>

    </main>
  </body>
</html>
