<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="/houses"><h1>Home</h1></a>
    </header>
    <main>
      <h1>House new route In</h1>
      <section>
      <form action='/houses' method="post">
       
      <%=realtor.name%>
      <input type="text" name="list" placeholder="House Listing"/>
      <input type = "text" name ="address" placeholder = "Street Name, Zip, State"/>
      <input type = "text" name = "price" placeholder = " Price Range"/><br/>


      <input type = "text" name = "img" placeholder ="photo url here"/>
      <input type = "text" name = "type" placeholder = "Apts, Condo, Houses, Studio"/>
      <input type = "text" name = "rooms" placeholder = "Number of rooms" /><br/>
      <textarea name = "body" placeholder = "House Listing Info Here"></textarea><br/>
      <button type="submit" value = "Publish House">Publish House Listing</button>

      </section>
          <section>



          </section>
      </form>
    </main>
  </body>
</html>
