<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/css/New_house.css">
    <title></title>
  </head>
  <body>
    <header>
      <a href="/houses"><h1>Home</h1></a>
    </header>
    <main>
      <h1><%=realtors.username%></h1>
      <h1>House new route In</h1>
      <form action='/houses' method="POST">

        <input type="text" name="list" placeholder="House Listing"/>
        <input type = "zip" name ="address" placeholder = "Street Name, Zip, State"/>
        <input type = "number" name = "price" placeholder = " Price Range"/><br/>
        <input type = "text" name = "img" placeholder ="photo url here"/>
        <input type = "text" name = "type" placeholder = "Apts, Condo, Houses, Studio"/>
        <input type = "number" name = "rooms" placeholder = "Number of rooms" /><br/>
        <textarea name = "body" placeholder = "House Listing Info Here"></textarea><br/>
        <button type="submit" value = "Publish House">Publish House Listing</button>

      </form>

    </main>
  </body>
</html>
