<!DOCTYPE html>
<html>
  <head>
  <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 
  </head>
  <body>
    <header>
    
      <section>
            <nav>
               <div class="nav-wrapper teal">
                  <a href="#" class="brand-logo center">Logo</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/houses">Home</a></li>
               </ul>
              </div>
          </nav>
      </section>

    </header>
    
          <h1><%=realtors.username%></h1>
<div class = "container" id = "houses">
      <h4>Create a new listing</h4>
      <form action='/houses' method="POST">


        <div class = "input-field">
        <input type="text" name="list" placeholder="House Listing"/>
        <label class = "active" for = "list">Name</label>
        </div>

        <div class = "input-field">
        <input type = "text" name ="address" placeholder = "Street Name, Zip, State"/>
        <label class = "active" for = "address">address</label>
        </div>
        
        <div class = "input-field">
        <input type = "number" name = "price" placeholder = " Price Range"/><br/>
        <label class = "active" for = "price">Price</label>
        </div>
        
        <div class = "input-field">
        <input type = "text" name = "img" placeholder ="photo url here"/>
        <label class = "active" for = "img">Imgage Link</label>
        </div>

       <div class = "input-field">
        <input type = "text" name = "type" placeholder = "Apts, Condo, Houses, Studio"/>
       <label class = "active" for = "type">type</label>
        </div>
       
        <div class = "input-field">
        <input type = "number" name = "rooms" placeholder = "Number of rooms" /><br/>
        <label class = "active" for = "rooms">rooms</label>
        </div>
        
      <div>
        <textarea name = "body" placeholder = "House Listing Info Here"></textarea><br/>


        <button class="btn waves-effect waves-light red  " type="submit" name="action">Publish House Listing
    <i class="material-icons right">send</i>
       </div>

      </form>

</div>
  </body>
   <footer class="page-footer teal">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Welcome Realtor!</h5>
                <p class="grey-text text-lighten-4">Rules: blah blah blah.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/houses">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</html>
