<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="#"><h1>Home</h1></a>
    </header>
    <main>
      <h1>House show route In</h1>
      list: <%=house.list%>
      <a href="/houses/<%=house._id%>/edit">edit</a>
      </form>
    </main>
  </body>
</html>
