<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section>
      <h1 id='login-wlcm'> Login</h1>
      <form action = "/auth/login" method = "POST">
        <input type = "text" name = "username" placeholder = "username">
        <input type = "password" name = "password" placeholder = "password">
      <a href = "/houses/new"><button type="submit" id='login'>Login</button></a>
      </form>
      <small><%=message%></small>
    </section>
  </body>
</html>
